<h1>Update</h1>
<form action="" method="post">
    Name: <br>
    <input type="text" name="name" value="<%= service[0].name %>" placeholder="Enter name" required><br><br> source: <br>
    <input type="text" name="source" value="<%= service[0].source %>" placeholder="Enter source" required><br><br> Destination: <br>
    <input type="text" name="destination" value="<%= service[0].destination %>" placeholder=" Enter destination " required><br><br> distance: <br>
    <input type="number " name="dist " value="<%=service[0].distance %>" placeholder="Enter distance" required><br><br> Total: <br>
    <input type="number" name="fare" value="<%= service[0].fare %>" placeholder=" Enter fare " required><br><br>
    <input type="submit" value="Submit">


</form>